.DS_Store
Thumbs.db

.idea/
.vscode/

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

node_modules/
frontend/dist/

backend/.venv/
backend/.env
.env

data/postgres/*
!data/postgres/.gitkeep
data/tracker-db/*
!data/tracker-db/.gitkeep
data/torrents/*
!data/torrents/.gitkeep
data/uploads/*
!data/uploads/.gitkeep
